# =========================
# Python
# =========================
__pycache__/
*.py[codz]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
pip-log.txt

# =========================
# Virtual env
# =========================
.venv/
venv/
env/
ENV/
.env
.envrc

# =========================
# IDE / Editors
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Airflow (важно)
# =========================
logs/*
!logs/.gitkeep

# Airflow local db (если вдруг появится)
airflow.db
airflow-webserver.pid

# =========================
# Postgres / Docker volumes
# =========================
data/*
!data/.gitkeep

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Pytest / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Mypy / Ruff
# =========================
.mypy_cache/
.ruff_cache/

# =========================
# Temp
# =========================
*.tmp
*.swp
